.optimistApp {
  background: #C0F8D1;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-gap: 5px;
  grid-template-rows: 1fr 4fr 2fr;
}

.bold {
  font-weight: 600;
}

.nickNameContainer.hide {
  display: none;
}

.Goals,
.Dashboard {
  grid-column: 2/2;
  grid-row: 2/2;
  max-height: 100%;
  max-width: 100%;
  background: honeydew;
  border-radius: 11px;
  color: #7E4E60;
  padding: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

ol input {
  background: honeydew;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
  width: 100%;
}

ol li:hover {
  color: red;
}

input:focus {
  outline: none;
}

li {
  margin-bottom: 25px;
}

ol li form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

ol li form input[name="goal"] {
  grid-column: 1/4;
}

.nickNameContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1/3;
  grid-column-gap: 15px;
}

ol li form input[type="submit"] {
  border: 1px solid lightgray;
  background: white;
  padding: none;
  width: 55px;
}

ol li form button {
  width: 25px;
  padding: 0;
}

li:last-child {
  margin-bottom: 0px;
}

li:hover {
  color: #B287A3;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 2/2;
  grid-row: 2/2;
}


/* #482728 brown
#7E4E60 darker purple
#B287A3 purple
#C0F8D1 green
#BDCFB5 darker green */
